@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin : 0px;
    padding: 0px;
    font-family: "poppins";
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
}

.weather-input{
    width: 30%;
    position: fixed;
    inset: 0;
    background: #78c1f3;
    padding: 1rem 2.5rem;
}
.weatherIcon{
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: contain;
    display: block;
    height: 20%;
    margin: 2rem auto;

}

    .input-group{
        position: relative; /* Changed from static to relative for absolute positioning */
        display: flex;
        align-items: center;
        margin: 3rem 0;
    }
    
    .input-group input {
        background: #f8f8f8;
        text-transform: capitalize;
        padding: 1rem;
        font-size: 16px;
        border-radius: 6px;
        width: 100%;
        outline: none;
        border: none;
        padding-left: 4rem; /* Add padding-left to account for the search icon */
    }
    
    .input-group .fa-search {
        position: absolute;
        left: 1rem; /* Position the search icon inside the input field */
        color: #909090; /* Adjusted the color to have proper # symbol */
        cursor: pointer;
        font-size: 22px;
    }
    
.weather-output{
    width: 70%;
    position: fixed;
    inset: 0;
    margin-left: 34%;
    padding-top: 4rem;
    background: f6f6f6;
    overflow: auto;

}
.Hightlight{
    display: grid;
    grid-template-columns: repeat(3,320px);
    grid-auto-flow: row ;
    row-gap: 1rem;
    column-gap: 10px;
}
.Hightlight div{
    height: 200px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #78c1f3;
    border-radius: 20px;
    padding: 1rem;
}
.Hightlight i{
    font-size: 45px;
}
.sun span{
    align-items: center;
    display: flex;
    gap: 10px;
}
